 
html,
body {

    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #f8f9fa;
}

.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* ---------------- SIDEBAR ---------------- */
.sidebar {
    width: 250px;
    background-color: #1e293b;
    color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    transition: all 0.3s ease;
    z-index: 1050;
    position: relative;
    padding: 10px;
    scrollbar-width: thin;
    scrollbar-color: #1e293b #0f172a;
}

.sidebar::-webkit-scrollbar {
    width: 10px;
}

.sidebar::-webkit-scrollbar-track {
    background: rgba(15, 23, 42, 0.74);
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #1e293b;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #334155;
}

.sidebar.collapsed {
    width: 80px;
    background-color: #1d2124;
}

.sidebar .nav-link {
    color: #fff;
    transition: all 0.2s;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: rgb(7, 88, 169);
    color: rgb(160, 160, 160);
}

.sidebar .nav-link i {
    font-size: 1.2rem;
}

.sidebar.collapsed .nav-link span,
.sidebar.collapsed h5 {
    display: none;
}

@media (max-width: 767.98px) {
    .sidebar {
        position: fixed;
        height: calc(100vh - 80px);
        margin-top: 60px;
        left: -250px;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    }

    .sidebar.show {
        left: 0;
    }
}


/* ---------------- CONTENIDO PRINCIPAL ---------------- */
#content {
    flex-grow: 1;
    overflow-y: auto;
    height: calc(100vh - 80px);
    margin-top: 60px;
    /*  height: 100vh; */
    margin-left: 250px;
    padding: 1rem;
    transition: margin-left 0.3s ease;
    /* border: solid 2px #52a552; */
}

#content.collapsed {
    margin-left: 80px;
}


@media (max-width: 767.98px) {
    #content {
        margin-left: 0 !important;

    }

}

/* ---------------- NAVBAR ---------------- */
.navbar {
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    height: 60px;
    z-index: 1050;
    background-color: #fff !important;
    border-bottom: 2px solid #0f172a;
    transition: left 0.3s ease;
}

body.sidebar-collapsed .navbar {
    left: 0px !important;
}


.navbar .navbar-brand,
.navbar .bi {
    color: rgb(0, 0, 0) !important;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgb(0, 0, 0) !important;
}

.user-info img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.collapse-icon {
    transition: transform 0.3s ease;
}

.collapsed .collapse-icon {
    transform: rotate(-90deg);
}

#navbar.collapsed {
    left: 80px;
}


@media (max-width: 767.98px) {
    #navbar {
        left: 0 !important;

    }

}



/* ---------------- BOTÓN TOGGLE ---------------- */
#sidebarToggle {
    display: none; 
}


/* ---------------- TARJETAS ---------------- */
.card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.39);
}

/* ---------------- TABLA RESPONSIVA ---------------- */
@media (max-width: 767.98px) {
    .table-responsive table thead {
        display: none;
    }

    .table-responsive table tbody tr {
        display: block;
        margin-bottom: 1rem;
        border: 1px solidrgba(160, 166, 174, 0.63);
        border-radius: 0.5rem;
        background: #fff;
        color: #fff;
        padding: 0.75rem;
    }

    .table-responsive table tbody td {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        border-bottom: 1px solid #475569;
    }

    .table-responsive table tbody td:last-child {
        border-bottom: none;
    }

    .table-responsive table tbody td::before {
        content: attr(data-label);
        font-weight: bold;
        color: #cbd5e1;
    }
}
 
